<app-sidebar></app-sidebar>

<title>Relatório de Insumos</title>
<div class="relatorio-container">
  <h1>Relatório de Insumos</h1>

  <div class="filtro-relatorio">
    <h2>Filtro de Relatório</h2>

    <div class="campo">
      <label for="calcular">Calcular:</label>
      <select id="calcular">
        <option value="">Selecione</option>
        <option value="">Média</option>
        <option value="">Mediana</option>
      </select>
    </div>

    <div class="campo">
      <label> Termo de Pesquisa: </label>
      <select [(ngModel)]="searchBy">
        <option value="codigo">Código</option>
        <option value="descricao">Descrição</option>
      </select>
    </div>

    <div class="campo">
      <label for="descricao">Descrição:</label>
      <input type="text" id="descricao" placeholder="Descrição do item" [(ngModel)]="query">
    </div>

    <div class="campo">
      <label>Selecione os insumos:</label>
      <div class="checkbox-list">
        <label><input type="teste"></label>
      </div>
    </div>

    <div class="botoes">
      <button class="btn-gerar">Gerar Relatório</button>
      <button class="btn-buscar" (click) ="buscar()">Buscar</button>
      <button class="btn-limpar">Limpar Pesquisa</button>
    </div>
  </div>
</div>
